@import "tailwindcss";

#root {
  width: 100%;
}

.pt-24 {
  padding-top: calc(var(--spacing) * 0);
  /* This equals ~48px if spacing=8px */
}

.pb-12 {
  padding-bottom: calc(var(--spacing) * 4);
  /* This equals ~32px if spacing=8px */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}